.card{
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1.1em;
}
.name__id{
    margin: 1em;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-right: 1em;
}
.poke__name {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 80%;
    font-weight: 600;
    font-family: "JetBrains mono", monospace;
    letter-spacing: 1px;
    margin-left: 1em;
}
.type__box{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.poke__types{
    margin-top: 0.2em;
    width: 30%;
    height: 1.15em;
    padding: 0 0.3em;
}
.poke__type2{
    display:none;
}

.poke__id {
    color: #ecececf8;
    font-size: 80%;
    font-weight: 600;
    font-family: "JetBrains mono", monospace;
}

.pokemon__img {
    position:absolute;
    width: 18%;
    top: 20%;
}

.background__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pokeyellow);
    width: 100%;
    height: 44%;
}

.background {
    display: flex;
    flex-direction: column;
    width: 19vw;
    height: 85vh;
    background-color: #ffffff;
    box-shadow: -2px 2px 4px rgba(100, 100, 100, 0.6);  
}

.stats {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 1.5em;
    font-size: 80%;
    font-family: "JetBrains mono", monospace;
    font-weight: 600;
    letter-spacing: 1px;
}
.progress__bar {
    width: 90%;
    height: 1em;
}
