* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a0a0a065;
}
:root {
    --color-white: #fff;
    --color-dark1: #212529;
    --color-dark2: #2B3035;
    --color-dark3: #495057;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-pokeyellow: rgb(255, 212, 55);
    --color-pokegreen: rgb(94, 218, 94);
    --color-pokered: rgb(255, 139, 118);
    --color-pokeblue: rgb(138, 198, 255);
    --color-pokewhite: rgba(207, 207, 207, 0.76);
    --color-pokebrown: rgba(136, 91, 60, 0.774);
    --color-pokepurple: rgb(133, 94, 240);
    --color-pokepink: rgba(255, 169, 205, 0.938);
    --color-pokegray: rgba(168, 178, 190, 0.993);
    --color-pokeblack: rgba(31, 31, 31, 0.726);
}