*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-dark1);
}

.header{
    width: 100vw;
    height: 65px;
    background-image: linear-gradient(to right, #6528E0, #6F2CF4);
    box-shadow: 2px 2px 8px var(--color-dark4);
    display: flex;
}

.right-header{
    display: flex;
    position: absolute;
    right: 20px;
    top: 16px;   
}
.img-header{
    margin: 4px;
}
.img-header-home{
    margin: 4px;
    margin-left: 18px;
}

.left-header:hover{
    color: white;
    transition: 0.5s;
}

.left-header{
    position: relative;
    top: 8px;
    left: 4px;
    margin: 5px;
    text-decoration: none;
    color: rgba(237, 237, 237, 0.687);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root{
    --color-white: #fff;
    --color-dark1: #212529;
    --color-dark2: #2B3035;
    --color-dark3: #495057;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #6528E0;
    --color-purple2: #6F2CF4;
}
  
.pokemon-card {
    font-family: "Jersey 25", sans-serif;
    margin: 30px;
    width: 30vw;
    border: 2px solid var(--color-purple);
    border-radius: 10px;
    padding: 20px;  
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    box-shadow: 6px 6px 8px var(--color-dark4);
    margin-top: 150px;
}
  
.pokemon-card img {
    background-color: #727a8375;
    border-radius: 10px;
    width: 160px;
    height: 160px;
    margin-right: 20px;
}
  
.pokemon-info {
    flex-grow: 1;
}
  
.pokemon-name {
    margin: 0;
    font-size: 24px;
    color: #333;
}
.pokemon-name::first-letter {
    text-transform: capitalize;
}  
.pokemon-type {
    margin: 5px 0;
    font-size: 18px;
    color: #000000c5;
}
  
.pokemon-abilities,
.pokemon-held-items,
.pokemon-moves,
.pokemon-status {
    margin: 5px 0;
    font-size: 16px;
    color: #000000c7;
}