* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a0a0a065;
}

.header {
    width: 100vw;
    height: 65px;
    background-image: linear-gradient(to right, var(--color-purple), var(--color-purple2));
    box-shadow: 0px 2px 4px var(--color-dark4);
    display: flex;
}

.right-header {
    display: flex;
    position: absolute;
    right: 20px;
    top: 16px;
}

.img-header {
    margin: 4px;
}

.img-header-home {
    margin: 4px;
    margin-left: 18px;
}

.left-header:hover {
    color: white;
    transition: 0.5s;
}

.left-header {
    position: relative;
    top: 8px;
    left: 4px;
    margin: 5px;
    text-decoration: none;
    color: rgba(237, 237, 237, 0.687);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-size: 15px;
}

:root {
    --color-white: #fff;
    --color-dark1: #212529;
    --color-dark2: #2B3035;
    --color-dark3: #495057;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #f70909;
    --color-purple2: #d60303;
}

.card {
    position: relative;
}

.background {
    position: absolute;
    width: 19vw;
    height: 85vh;
    background-color: #ffffff;
    left: 79.9%;
    margin-top: 17px;
}

.poke__name {
    text-transform: capitalize;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 80%;
    font-weight: 600;
    font-family: "JetBrains mono", monospace;
    top: 3%;
    left: 7%;
}

.poke__id {
    color: #e0e0e0c4;
    position: absolute;
    font-size: 90%;
    font-weight: 600;
    font-family: "JetBrains mono", monospace;
    top: 3%;
    left: 87%;
    margin: 0;
    padding: 0;
}

.backgroundimg {
    background-color: rgb(255, 205, 41);
    width: 19vw;
    height: 40vh;
}

.pokemon__img {
    position: absolute;
    width: 90%;
    left: 10%;
    top: 15%;
}

.stats {
    position: absolute;
    top: 51%;
    left: 7%;
    font-size: 80%;
    font-family: "JetBrains mono", monospace;
    font-weight: 600;
}

.progress__bar {
    width: 250%;
    height: 2vh;
}